html, body, .container {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

#app {
  box-sizing: border-box;
  height: 100%;
  padding-left: 250px;
  padding-top: 70px;
  width: 100%;
}

#header {
  background-color: lightgray;
  box-sizing: border-box;
  left: 0;
  height: 70px;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

#instructions {
  bottom: 0;
  left: 0;
  position: fixed;
  top: 70px;
  width: 250px;
}

.area {
  box-sizing: border-box;
  display: inline-block;
  float: left;
  height: 100%;
  padding: 20px;
  width: 33%;
}

.area-title {
  border-bottom: 2px solid #303030;
  color: #303030;
  margin: 0;
  padding-bottom: 5px;
}

.hidden {
  display: none;
}

.file {
  background-color: tomato;
  display: inline-block;
  height: 40px;
  position: relative;
  transition: transform 0.5s;
  width: 40px;
}
