html, body, .container {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}

body {
  background-color: lightgray;
}

div {
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

#app {
  border: 5px solid rgba(0, 0, 0, 0);
  bottom: 0;
  left: 400px;
  position: absolute;
  right: 0;
  top: 70px;
}

#header {
  background-color: white;
  border-bottom: 2px solid #303030;
  border-radius: 0 0 4px 4px;
  left: 0;
  height: 70px;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

#side-bar {
  bottom: 0;
  left: 0;
  position: fixed;
  top: 70px;
  width: 400px;
}

.area {
  background-color: white;
  border: 2px solid #303030;
  border-radius: 8px;
  box-shadow: 3px 3px gray;
  color: #303030;
  display: inline-block;
  float: left;
  height: 0%;
  margin-right: 5px;
  padding: 20px;
  width: calc((100% - 10px) / 3);
}

.area:last-child {
  margin-right: 0;
}

.area-title {
  border-bottom: 2px solid #303030;
  margin: 0;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.command-trigger {
  background-color: white;
  border: 1px solid #303030;
  border-radius: 4px;
  box-shadow: 5px 5px gray;
  color: #303030;
  display: inline-block;
  font-weight: bold;
  padding: 5px;
  transition: box-shadow 250ms, margin 250ms;
}

.command-trigger.animating {
  box-shadow: 0 0 gray;
  cursor: progress;
  margin-left: 5px;
  margin-top: 5px;
}

.commit {
  border-left: 3px solid darkcyan;
  margin-left: 11px;
  padding-bottom: 10px;
  position: relative;
}

.commit:after {
  content: "";
  display: block;
  clear: both;
}

.commit:last-child {
  border-left: 3px solid rgba(0, 0, 0, 0);
}

.commit-message {
  margin: 0;
  margin-left: 12px;
}

.commit-node {
  background-color: darkcyan;
  display: inline-block;
  float: left;
  left: -12px;
  position: relative;
}

.console {
  background-color: black;
  border: 5px solid lightgray;
  border-radius: 10px;
  color: white;
  height: 50%;
  overflow-y: auto;
  padding: 5px;
  width: 100%;
}

.file {
  background-color: #d32f2f;
  border-radius: 4px;
  color: white;
  margin-bottom: 10px;
  padding: 5px 8px;
  position: relative;
}

.file-icon {
  font-size: 26px;
  vertical-align: middle;
}

.file-name {
  font-size: 20px;
  margin-left: 7px;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.header-github {
  color: #303030;
  float: right;
  line-height: 48px;
  right: 0;
  top: 0;
  transition: color 300ms;
}

.header-github:hover {
  color: black;
}

.header-title {
  color: #303030;
  display: inline-block;
  line-height: 48px;
}

.instructions {
  height: 50%;
  padding: 5px;
  width: 100%;
}

.next-step {
  color: #2196f3;
  transition: color 300ms;
}

.next-step:hover {
  color: #0d47a1;
}
